<body>
	<div id="header">
		<ul id="navigation">
		<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
			<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="boxes.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="productos.html" id="link4">BEBIDAS</a>
		</li>
		</ul>
		<div id="rooms">
			<h2>BOXES</h2>
			<div>
				<h5>BOX</h5><h6>Wonderfull</h6>
				<a href="#">
					<%= image_tag "girls-singing3.jpg" %>
					
					</a>
				<p>Divierte con la comodidad de este box privado equipado con pantallas de ultima generación, audio profesional que será del agrado de tu grupo. Además de contar con una presentación maravilosa, como su nombre lo describe. Ven, canta y encanta.</p>
				<span>Máximo : 10 personas</span>
				<span>Precio : &pound; S/. 90.00 </span>
			
			</div>
			
			<div>
				<h5>BOX</h5><h6>Primaverato</h6>
				<a href="#">
					<%= image_tag "boys-dringking4.jpg" %>
					</a>
				<p>Si quieres disfrutar un ambiente en el cual se perciba la Primavera, y además se escuchen las melodiosas voces de tus amigos, este box es para ti. Ven y diviertete interpretando las canciones que marcaron tu vida.</p>
				<span>Máximo : 20 personas</span>
				<span>Precio : &pound; S/. 100.00</span>
			</div>
			<div>
				<h5>BOX</h5><h6>Ilusión de Amor</h6>
				<a href="#">
					<%= image_tag "group-singing3.jpg" %>
					</a>
				<p>Salon Karaoke con los temas de tu preferencia, reproducidos en pantallas de ultima generación con calidad HDMI y con sistema de Audio profesional. Esta velada con temática de amor, proveerá el romance a tu cita especial. y que mejor que dedicarle una bella canción. Atrévete.</p>
				<span>Máximo : 30 personas</span>
				<span>Precio : &pound; S/. 120.00</span>
			</div>
		</div>
	</div>
</body>