<body>
	<div id="header">
		<ul id="navigation">
		<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
			<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="rooms.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="events.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="producto.html" id="link4">BEBIDAS</a>
		</li>
		</ul>
		<div id="rooms">
			<h2>Rooms</h2>
			<div>
				<h5>Room</h5><h6>Donec Vive</h6>
				<a href="#"><img src="images/girls-singing3.jpg" alt=""></a>
				<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
				You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
				<span>Aenean quis :  10 pax</span>
				<span>Price : &pound; 5</span>
			</div>
			
			<div>
				<h5>Room</h5><h6>Proin Pulvinar</h6>
				<a href="#"><img src="images/boys-dringking4.jpg" alt=""></a>
				<p>If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forum/">on our forum</a> and meet other people in 
				the community who share the same interests with you.</p>
				<span>Aenean quis :  20 pax</span>
				<span>Price : &pound; 5</span>
			</div>
			<div>
				<h5>Room</h5><h6>Morbi in erat</h6>
				<a href="#"><img src="images/group-singing3.jpg" alt=""></a>
				<p>Donec eget arcu at elit malesuada egestas. Nulla lobortis consectetur tempus. Cras ligula nisi, gravida vitae facilisis ac, ullamcorper non lorem. Etiam idorcivelit. Duis varius sodal es 
				neque vitae faucibus. Duis posuere elementum tortor.</p>
				<span>Aenean quis :  30 pax</span>
				<span>Price : &pound; 5</span>
			</div>
		</div>
	</div>
</body>