<body>
	<div id="header">
		<ul id="navigation">
				<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
			<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="rooms.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="producto.html" id="link4">BEBIDAS</a>
		</li>
		</ul>

		<div id="first">
			<h2>Preguntas Frecuentes</h2>
		</div>
	</div>
</body>
 