<body>
	<div id="header">
		<ul id="navigation">
				<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
			<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="boxes.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="productos.html" id="link4">BEBIDAS</a>
		</li>
		</ul>

		<div id="first">
			<h2>Preguntas Frecuentes</h2>
			<h3>1. ¿Cómo reservo?</h3>
			<p>Rpta. Mediante nuestra web o llamando a nuestra central telefónica.</p>
			<h3>2. ¿Cómo sé que mi reserva está realizada mediante la web?</h3>
			<p>Rpta. Le mostrará un mensaje de confirmación.</p>
			<h3>3. ¿Tengo mi reserva, cómo ingreso al Karaoke?</h3>
			<p>Rpta. Presentando su ticket o número de reserva.</p>
			<h3> ¿Quiero anular mi reserva, que hago?</h3>
			<p>Rpta. Comunicarse con nuestra central telefónica 48 horas antes de la reserva.</p>
			<h3>5. ¿Otra persona puede presentar mi ticket?</h3>
			<p>Rpta. Sí. Los tickets y número de reserva son transferibles.</p>
		</div>
	</div>
</body>
 