<body>
	<div id="header">
		<ul id="navigation">
		<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
				<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="eventos.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="producto.html" id="link4">BEBIDAS</a>
		</li>
			</ul>
		<div id="contact">
			<h2>Ubicación</h2>
			<h4>Dirección:</h4>
			<p>Calle Manuel Bonilla 189 - Miraflores - Lima, Perú</p>
			<h4>Teléfono:</h4>
			<p>(51) 5051111</p>

			
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8865154330597!2d-77.02950738518675!3d-12.119916591418617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81a1c459c2f%3A0xcea3ca37e70a141e!2sCalle+Manuel+Bonilla%2C+Miraflores+15074%2C+Per%C3%BA!5e0!3m2!1ses!2ses!4v1478633012965" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			
			<div id="time">
				<h4>Horarios de atención:</h4>
				<table>
					<tr>
						<td class="day">Lunes a Viernes</td>
						<td>:</td>
						<td class="time">7:00 pm - 2:00 am</td>
					</tr>
					<tr>
						<td class="day">Sábado</td>
						<td>:</td>
						<td class="time">7:00 pm - 3:00 am</td>
					</tr>
					<tr>
						<td class="day">Feriados</td>
						<td>:</td>
						<td class="time">7:00 pm - 3:00 am</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
