<body>
	<div id="header">
		<ul id="navigation">
			<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
			<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="boxes.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="productos" id="link4">BEBIDAS</a>
		</li>
		</ul>
		<div id="events">
			<h2>EVENTOS</h2>
			<div class="first">
				<h3>Shows y eventos realizados en Karaoke Sing</h3>
				<center><%= image_tag "evento_1.jpg"%></center>
				<h3>Viernes, 07 Octubre 2016, 8pm</h3>
				<p></p>
				<center><%= image_tag "evento_2.jpg"%></center>
				<h3>Viernes, 23 Septiembre 2016, 8pm</h3>
		
			</div>
			<div>
				<h2>Local de Miraflores</h2>
				<h3>Donde encontraras la música más variada y un ambiente super agradable!</h3>
				<center><%= image_tag "local_1.jpg"%></center>
				<h3>Box Privado para pasar gratos momentos.</h3>
				<%= image_tag "local_2.jpg"%>
				
			</div>
			<div>
				<h2>PRÓXIMOS EVENTOS</h2>
				<h3>Come Back to Oroya</h3>
					<center><%= image_tag "p_evento_1.jpg"%></center>
			</div>
		</div>
	</div>
</body>