<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Galeria</title>
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	<body>
		<div id="header">
			<ul id="navigation">
    			<%= render 'layouts/menu' %>
    		</ul>
		</div>
		<div class="body">
			<ul class="navigation">
					<li>
    			<a href="menu.html" id="link1">PIQUEOS</a>
    		<%= image_tag "button-menu.jpg" %>
    		</li>
    		<li>
    			<a href="boxes.html" id="link2">BOXES</a>
    			<%= image_tag "button-rooms.jpg" %>
    		</li>
    		<li>
    			<%= image_tag "button-events.jpg" %>
    			<a href="eventos.html" id="link3">EVENTOS</a>
    		</li>
    		<li>
    			<%= image_tag "button-drinks.jpg" %>
    			<a href="productos.html" id="link4">BEBIDAS</a>
    		</li>
			</ul>
			<div id="gallery">
				<h2>Galería de Fotos</h2>
				<h4>Esta es la prueba de toda la diversión que tendrás en Karaoke Sing. Ven y diviértete con tus amigos.</h4>
				<ul class="fotos">
					<li><a href="#"><%= image_tag "girl-sing3.jpg" %></a></li>
					<li><a href="#"><%= image_tag "group-singing2.jpg" %></a></li>
					<li><a href="#"><%= image_tag "girls-singing2.jpg" %></a></li>
					<li><a href="#"><%= image_tag "girl-smiling3.jpg" %></a></li>
					<li><a href="#"><%= image_tag "boys-drinking3.jpg" %></a></li>
					<li><a href="#"><%= image_tag "asian-girl-singing.jpg" %></a></li>
				</ul>
			</div>
		</div>

	</body>
</html>  