<body>
	<div id="header">
		<ul id="navigation">
			<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
				<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="eventos.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="productos" id="link4">BEBIDAS</a>
		</li>
			</ul>
		<div>
			<h2>PIQUEOS</h2>
		
			<table>
				<tr>
					<td class="product">Brochetas de pollo en salsa de tamarindo</td>
					<td class="price">S/ 22.50</td>
				</tr>
				<tr>
					<td class="product">Tequeños rellenos caseros</td>
					<td class="price">S/ 19.00</td>
				</tr>
				<tr>
					<td class="product">Croquetas de pollo</td>
					<td class="price">S/ 15.50</td>
				</tr>
				<tr>
					<td class="product">Conchas gratinadas en mantequilla de perejil</td>
					<td class="price">S/ 30.00</td>
				</tr>
				<tr>
					<td class="product">Bruschetta de mozzarella, tomate y jamón</td>
					<td class="price">S/ 25.00</td>
				</tr>
			</table>
			
			<h4>PIQUEO RUSTICO</h4>
			<table>
				<tr>
					<td class="product">Chicharron de pollo  + alitas + tequeños + papas fritas</td>
					<td class="price">S/ 35.00</td>
					<%= image_tag "piqueos_2.jpg" %>
				</tr>
			</table>
			
		<h4>PIQUEO PERU</h4>
			<table>
				<tr>
					<td class="product">Anticuchos + Mollejitas + Boliyucas + Alitas Picantes</td>
					<td class="price">S/ 39.00</td>
					<%= image_tag "piqueos_3.jpg" %>
				</tr>
			</table>
			
			<h4>PIQUEO ANTICUCHERO</h4>
			<table>
				<tr>
					<td class="product">Anticucho + Mollejitas + Papas Fritas</td>
					<td class="price">S/ 27.00</td>
					<%= image_tag "piqueos_4.jpg" %>
				</tr>
			</table>
			
			<h4>CHICHARRÓN CRUNCH</h4>
			<table>
				<tr>
					<td class="product">Crocantes trozos de Pechuga de pollo</td>
					<td class="price">S/ 28.50</td>
					<%= image_tag "piqueos_5.jpg" %>
				</tr>
			</table>
			
		</div>
	</div>
	
</body>