<body>
	<div id="header">
		<ul id="navigation">
				<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
			<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="rooms.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="producto.html" id="link4">BEBIDAS</a>
		</li>
		</ul>
		<div>
			<h2>¿Quiénes somos?</h2>
			
			<h3>We Have Free Templates for Everyone</h3>
			<p>Somos una empresa dedicada a brindar un servicio excelente a los apasionados al Karaoke. Nos gusta cantar y nos gusta que cante todo el mundo. Y por eso tenemos el catálogo más amplio del mercado, y con las mejores y más avanzadas herramientas para hacer tu experiencia fácil y divertida. Y como cantar es un acto social, si lo deseas podrás tener eventos personalizados en nuestros locales con los generos musicales que marcaron tu epoca..</p>
		</div>
	</div>
</body>