<body>
	<div id="header">
		<ul id="navigation">
					<%= render 'layouts/menu' %>
		</ul>
	</div>
	<div class="body">
		<ul class="navigation">
				<li>
			<a href="menu.html" id="link1">PIQUEOS</a>
		<%= image_tag "button-menu.jpg" %>
		</li>
		<li>
			<a href="rooms.html" id="link2">BOXES</a>
			<%= image_tag "button-rooms.jpg" %>
		</li>
		<li>
			<%= image_tag "button-events.jpg" %>
			<a href="eventos.html" id="link3">EVENTOS</a>
		</li>
		<li>
			<%= image_tag "button-drinks.jpg" %>
			<a href="productos" id="link4">BEBIDAS</a>
		</li>
			</ul>
		<div>
			<h2>BEBIDAS</h2>
			
			<h4>TEQUILA</h4>
			<table>
				<tr>
					<td class="product">Blue Margarita</td>
					<td class="price">S/ 20.00</td>
				</tr>
				<tr>
					<td class="product">Tequini</td>
					<td class="price">S/ 19.50</td>
				</tr>
				<tr>
					<td class="product">Bloody Mary Tequila</td>
					<td class="price">S/ 26.00</td>
				</tr>
				<tr>
					<td class="product">Grave Bull</td>
					<td class="price">S/ 20.00</td>
				</tr>
				<tr>
					<td class="product">Grado Tercero</td>
					<td class="price">S/ 22.00</td>
				</tr>
				<tr>
					<td class="product">Noche de Acapulco</td>
					<td class="price">S/ 23.50</td>
				</tr>
				<tr>
					<td class="product">Pa Machos</td>
					<td class="price">S/ 21.50</td>
				</tr>
			</table>
			
			<h4>RON</h4>
			<table>
				<tr>
					<td class="product">Bacardi Cóctel</td>
					<td class="price">S/ 17.50</td>
				</tr>
				<tr>
					<td class="product">Between the Sheets</td>
					<td class="price">S/ 19.50</td>
				</tr>
				<tr>
					<td class="product">Butterfly</td>
					<td class="price">S/ 21.50</td>
				</tr>
				<tr>
					<td class="product">Blue Hawallan</td>
					<td class="price">S/ 15.50</td>
				</tr>
				<tr>
					<td class="product">Daiquiri</td>
					<td class="price">S/ 18.50</td>
				</tr>
					<tr>
					<td class="product">Calypso</td>
					<td class="price">S/ 14.00</td>
				</tr>
				<tr>
					<td class="product">Josefina</td>
					<td class="price">S/ 19.50</td>
				</tr>
			</table>
			
			<h4>VODKA</h4>
			<table>
				<tr>
					<td class="product">Cosmopolitan</td>
					<td class="price">S/ 19.50</td>
				</tr>
				<tr>
					<td class="product">Gimlet</td>
					<td class="price">S/ 13.00</td>
				</tr>
				<tr>
					<td class="product">Bloody Mary</td>
					<td class="price">S/ 20.00</td>
				</tr>
				<tr>
					<td class="product">Bullshot</td>
					<td class="price">S/ 17.50</td>
				</tr>
				<tr>
					<td class="product">Sex on the beach</td>
					<td class="price">S/ 13.50</td>
				</tr>
					<tr>
					<td class="product">Black russian</td>
					<td class="price">S/ 15.50</td>
				</tr>
				<tr>
					<td class="product">Blenheim</td>
					<td class="price">S/ 17.50</td>
				</tr>
			</table>
			
			<h4>CERVEZA</h4>
			<table>
				<tr>
					<td class="product">Cristal</td>
					<td class="price">S/ 10.50</td>
				</tr>
				<tr>
					<td class="product">Pisel</td>
					<td class="price">S/ 11.50</td>
				</tr>
				<tr>
					<td class="product">Cusqueña</td>
					<td class="price">S/ 10.00</td>
				</tr>
				<tr>
					<td class="product">Brahma</td>
					<td class="price">S/ 09.50</td>
				</tr>
				<tr>
					<td class="product">Corona</td>
					<td class="price">S/ 11.50</td>
				</tr>
				<tr>
					<td class="product">Barena</td>
					<td class="price">S/ 10.50</td>
				</tr>
				<tr>
					<td class="product">Trujillo</td>
					<td class="price">S/ 10.00</td>
				</tr>
			</table>
		</div>
	</div>
</body>