<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bebidas</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	<body>
		<div id="header">
			<ul id="navigation">
						<%= render 'layouts/menu' %>
			</ul>
		</div>
		<div class="body">
			<ul class="navigation">
					<li>
    			<a href="menu.html" id="link1">PIQUEOS</a>
    		<%= image_tag "button-menu.jpg" %>
    		</li>
    		<li>
    			<a href="rooms.html" id="link2">BOXES</a>
    			<%= image_tag "button-rooms.jpg" %>
    		</li>
    		<li>
    			<%= image_tag "button-events.jpg" %>
    			<a href="events.html" id="link3">EVENTOS</a>
    		</li>
    		<li>
    			<%= image_tag "button-drinks.jpg" %>
    			<a href="producto.html" id="link4">BEBIDAS</a>
    		</li>
				</ul>
			<div>
				<h2>Drinks</h2>
				
				<h4>Integer ante tortor</h4>
				<table>
					<tr>
						<td class="product">Praesent pretium venenatis</td>
						<td class="price">$ 11.78</td>
					</tr>
					<tr>
						<td class="product">Venenatis nunc eget</td>
						<td class="price">$ 10.00</td>
					</tr>
					<tr>
						<td class="product">Aliquam arcu elit  porttitor tellus</td>
						<td class="price">$ 9.51</td>
					</tr>
					<tr>
						<td class="product">Mauris et orci quis felis posuere vulputat</td>
						<td class="price">$ 5.78</td>
					</tr>
					<tr>
						<td class="product">Praesent pretium venenatis nunceget</td>
						<td class="price">$ 9.78</td>
					</tr>
				</table>
				
				<h4>Cras consectetur</h4>
				<table>
					<tr>
						<td class="product">Praesent pretium venenatis</td>
						<td class="price">$ 11.78</td>
					</tr>
					<tr>
						<td class="product">Venenatis nunc eget</td>
						<td class="price">$ 10.00</td>
					</tr>
					<tr>
						<td class="product">Aliquam arcu elit  porttitor tellus</td>
						<td class="price">$ 9.51</td>
					</tr>
					<tr>
						<td class="product">Mauris et orci quis felis posuere vulputat</td>
						<td class="price">$ 5.78</td>
					</tr>
					<tr>
						<td class="product">Praesent pretium venenatis nunceget</td>
						<td class="price">$ 9.78</td>
					</tr>
				</table>
				
				<h4>Nulla ac accumsan ante</h4>
				<table>
					<tr>
						<td class="product">Praesent pretium venenatis</td>
						<td class="price">$ 11.78</td>
					</tr>
					<tr>
						<td class="product">Venenatis nunc eget</td>
						<td class="price">$ 10.00</td>
					</tr>
					<tr>
						<td class="product">Aliquam arcu elit  porttitor tellus</td>
						<td class="price">$ 9.51</td>
					</tr>
					<tr>
						<td class="product">Mauris et orci quis felis posuere vulputat</td>
						<td class="price">$ 5.78</td>
					</tr>
					<tr>
						<td class="product">Praesent pretium venenatis nunceget</td>
						<td class="price">$ 9.78</td>
					</tr>
				</table>
				
				<h4>Cras tempus varius mauris</h4>
				<table>
					<tr>
						<td class="product">Praesent pretium venenatis</td>
						<td class="price">$ 11.78</td>
					</tr>
					<tr>
						<td class="product">Venenatis nunc eget</td>
						<td class="price">$ 10.00</td>
					</tr>
					<tr>
						<td class="product">Aliquam arcu elit  porttitor tellus</td>
						<td class="price">$ 9.51</td>
					</tr>
					<tr>
						<td class="product">Mauris et orci quis felis posuere vulputat</td>
						<td class="price">$ 5.78</td>
					</tr>
					<tr>
						<td class="product">Praesent pretium venenatis nunceget</td>
						<td class="price">$ 9.78</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="footer">
			<div>
				<div id="first">
					<a href="index.html" class="logo">Karaoke Night</a>
					<p>email@email.com    Tel: +89 2980 3600</p>
					<p>7000 Ut placerat accumsan sem enean dapibu</p>
					<p>Cras molestie metus Co. Ltd, Pellentes ABC 100</p>
				</div>
				<div>
					<h3><span>Connect</span> with us</h3>
					<a href="http://facebook.com/freewebsitetemplates" id="facebook">Facebook</a>
					<a href="http://twitter.com/fwtemplates" id="twitter">Twitter</a>
				</div>
				<div>
					<h4>Subscribe to our <span>NEWSLETTER</span></h4>
					<p>Placerat accumsan sem enean dapibus Cra</p>
					<p>molestie metus  vitae urna eget tellus ultricie</p>
					<form action="">
						<input type="text" id="input" value="Enter Email Address" onblur="this.value=!this.value?'Enter Email Address':this.value;" onfocus="this.select()" onclick="this.value='';">
						<input type="submit" id="submit" value="">
					</form>
				</div>
				<p>&#169; Copyright 2011. All Rights Reserved.</p>
			</div>
		</div>
	</body>
</html>  