<li><%= image_tag "logo.png",width:"260", id:"logo" %></li>

<li><%= link_to "Productos", pages_productos_path  %></li>

<li><%= link_to "Nosotros", pages_nosotros_path  %></li>

<li><%= link_to "Comentarios", pages_comentarios_path  %></li>

<li><%= link_to "Contactanos", pages_contactanos_path  %></li>


