<li><%= image_tag "logo.png",width:"260", id:"logo" %></li>

<li class="josefin"><%= link_to "Productos", pages_productos_path  %></li>

<li class="josefin"><%= link_to "Nosotros", pages_nosotros_path  %></li>

<li class="josefin"><%= link_to "F.A.Q", pages_comentarios_path  %></li>

<li class="josefin"><%= link_to "Contáctanos", pages_contactanos_path  %></li>


