<li><%= image_tag "logo.png",width:"260", id:"logo" %></li>

<li><%= link_to "Inicio", pages_drinks_path  %></li>

<li><%= link_to "Nosotros", pages_about_path  %></li>

<li><%= link_to "Comentarios", pages_blog_path  %></li>

<li><%= link_to "Contactanos", pages_contact_path  %></li>
